@import "tailwindcss";


@font-face {
    font-family: 'Thicccboi';
    src: url('./font/THICCCBOI-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'jetBrains';
    src: url('./font/JetBrainsMono-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

.codeBlock {
    font-family: 'jetBrains';
    font-optical-sizing: auto;
}

.codeText {
    font-family: 'jetBrains';

}

body {
    font-family: 'Thicccboi';
    height: 100vh;
}

:root {
    --gray: #f0f0f0;
    --bg-light: #ffffff;
    --bg-dark: #000000;
}

.dark {
    --bg-light: #000000;
    --bg-dark: #ffffff;
    --gray: #1a1a1a;
}
