@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@font-face {
    font-family: 'Thicccboi';
    src: url('./font/THICCCBOI-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'jetBrains';
    src: url('./font/JetBrainsMono-Regular.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}

.codeBlock {
    font-family: 'jetBrains';
}


.codeText {
    font-family: 'jetBrains';

}

body[data-theme=light] {
    --codeBackground: #FCFCFC ;
    --bg-light: #fff;
}

body[data-theme=dark] {
    --codeBackground: #171716 ;
    --bg-light: #0B0B0B;
    background-color: var(--bg-light);
}

body {
    font-family: 'Thicccboi';
    height: 100vh;
}

.footerGradient {
    background-image: linear-gradient(to bottom, var(--bg-light), transparent), linear-gradient(to bottom, var(--bg-light), transparent), linear-gradient(to bottom, var(--bg-light), transparent);
}
