@import "tailwindcss";

@font-face {
    font-family: 'Thicccboi';
    src: url('./font/THICCCBOI-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'jetBrains';
    src: url('./font/JetBrainsMono-Regular.ttf') format('truetype');
}


* {
    box-sizing: border-box;
}

.codeBlock {
    font-family: 'jetBrains';
}


.codeText {
    font-family: 'jetBrains';

}


body {
    font-family: 'Thicccboi';
    height: 100vh;
    background: #0A0A0A;
}


.toast {
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.05),
      0 4px 12px rgba(0, 0, 0, 0.1);
  }
.toastBg {
    background: linear-gradient(top, red, #f0f0f0);
}